.meet-ui-menu{
    width: 200px !important;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.ivu-layout{
    padding-top: 29px;
    height: 100vh;
    overflow: hidden;
    .ivu-layout-sider{
        background: #FFF;
    }
    .ivu-layout-content{
        padding: 20px;
    }
}